<div class="center">
  <pre *ngIf="foulLevel === 0">
    + - - - +
     |           |
                 |
                 |
                 |
                 |
  =========
  </pre>
  <pre *ngIf="foulLevel === 1">
    + - - - +
     |           |
    0          |
                 |
                 |
                 |
  =========
  </pre>
  <pre *ngIf="foulLevel === 2">
    + - - - +
     |           |
    0          |
     |           |
                 |
                 |
  =========
  </pre>
  <pre *ngIf="foulLevel === 3">
    + - - - +
     |           |
    0           |
     |           |
   /             |
                  |
  =========
  </pre>
  <pre *ngIf="foulLevel === 4">
    + - - - +
     |           |
    0           |
     |           |
   /  \         |
                  |
  =========
  </pre>
  <pre *ngIf="foulLevel === 5">
    + - - - +
     |           |
    0           |
     |\          |
   /  \         |
                  |
  =========
  </pre>
  <pre *ngIf="foulLevel === 6">
    + - - - +
     |           |
    0           |
   /|\          |
   /  \         |
                  |
  =========
  </pre>
</div>
